$outer-board-height: calc(100vh - 150px);

body {
  background-color: #ef8d68;
  // background-image: url("./bg-images/bg-body.jpg");
  background-image: url("./bg-images/bor-blocks.png");
}

.homepage {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0 10% 0 10%;
}

.game-header {
  font-style: italic;
  font-weight: bolder;
  color: #b73b0c;
}

#login-form {
  margin-bottom: 10px;
}

#login-form,
.cust-border {
  background-color: white;
  border: solid #b13405;
  border-radius: 0.5rem;
}

.cust-border {
  margin-top: 7%;
}

.cust-margin {
  margin-top: 15px;
}

.form-row {
  margin: 5% 10% 5% 10%;
}

.input-group {
  border: solid 0.5px #b13405;
  border-radius: 0.2rem;
}

.input-group-text {
  background-color: darkorange;
}

.cust-input {
  border-left: solid 0.5px #b13405;
}

.cust-buttons {
  background-color: orangered;
  color: white;
  border-color: white;
  border-radius: 0.2em;
}

// .guest a {
//   // color: inherit;
//   color: orangered;
//   border: solid 1px orangered;
//   margin: 10px 0 10px 0;
// }

// #as-guest {
//   margin-top: 5px;
//   margin-right: 10px;
//   margin-left: 10px;
//   border: solid 1.5px orangered;
// }

.game-story {
  color: wheat;
  // background-color: #2d0f04a3;
  background-color: #2d0f04d6;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 3% 0 7%;
  line-height: 1.75rem;
  // font-weight: 500;
}

.game-title {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

#rules-list {
  border: solid 1px rgb(134, 90, 7);
  padding: 5px;
  margin-top: 10px;
}

.game-description {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.divider {
  background-image: url("./bg-images/divider-1.png");
}

.divider::before {
  content: "";
  position: relative;
  height: 0.1rem;
  flex: 1;
  left: auto;
  right: auto;
  bottom: auto;
}

#settings {
  // border: solid 2px #f54a0f80;
  /* border: solid 2px #f54a0f80; */
  border-radius: 1rem;
  background-color: #f5bf6f;
  margin: 20px 20px 20px 20px;
  padding: 0 20px 0 20px;
}

.board-container {
  background-color: navajowhite;
}

.game-token {
  white-space: nowrap;
  display: inline;
}

#top-player {
  justify-content: center;
}

.player-name {
  width: fit-content;
}

.token-image {
  width: 27px;
  height: 27px;
  // background-image: url("");
  background-size: contain;
  border: 1px solid rgb(245, 242, 197);
  margin: 1px;
  background-repeat: no-repeat;
  display: inline-block;

  // resize: both;
  // overflow: auto;
}

.safe-cell {
  // position: relative;
  background-color: beige;
}

.centre-cell {
  background-color: orangered;
  // background-image: url("./bg-images/centre.png") no-repeat;
}

// .safe-cell::after {
//   position: absolute;
//   border-top: 1px solid rgb(189, 9, 150);
//   width: 40px;
//   transform: rotate(45deg);
//   transform-origin: 0% 0%;
// }

#top-player {
  height: 50px;
}

#bottom-player {
  height: 50px;
  margin-top: 10px;
  justify-content: center;
}

.board-cell {
  // width: 54px;
  height: 100px;
  border: solid 1px #ff4500a1;
}

// sup {
//   position: absolute;
//   top: 0; /* top: 0; */
//   left: 0; /* left: 0; */
//   z-index: 10;
//   text-align: right;
// }

.dot {
  border: solid 2px orangered;
  border-radius: 50%;
  background-color: orangered;
  display: inline-block;
  padding: 3px;
}

.arrow {
  border: solid 2px orangered;
  border-width: 0px 2px 2px 0px;
  display: inline-block;
  padding: 3px;
}

.diamond {
  border: solid 2px orangered;
  border-width: 2px 2px 2px 2px;
  background-color: orangered;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#btn-throw-dice {
  margin-right: 20px;
}
