body {
  background-color: pink;
}

.game-token {
  white-space: nowrap;
  display: inline;
}

// sup {
//   position: absolute;
//   top: 0; /* top: 0; */
//   left: 0; /* left: 0; */
//   z-index: 10;
//   text-align: right;
// }
