body {
  background-color: #ef8d68;
  // background-image: url("./bg-images/bg-body.jpg");
  background-image: url("./bg-images/bor-blocks.png");
}

.homepage {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0 10% 0 10%;
}

.container {
  background-color: white;
  border: solid #b13405;
  border-radius: 0.5rem;
}

.form-row {
  margin: 10% 10% 0 10%;
}

.input-group {
  border: solid 0.5px #b13405;
  border-radius: 0.2rem;
}

.input-group-text {
  background-color: darkorange;
}

.cust-input {
  border-left: solid 0.5px #b13405;
}

.cust-buttons {
  background-color: orangered;
  color: white;
  border-color: white;
  border-radius: 0.2em;
}

.guest a {
  // color: inherit;
  color: orangered;
  border: solid 1px orangered;
  margin: 10px 0 10px 0;
}

.game-rules {
  color: #842029;
  background-color: #f3e4b8;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 0% 0 7%;
  line-height: 1.5rem;
  font-weight: 500;
}

.divider {
  background-image: url("./bg-images/divider-1.png");
}

.divider::before {
  content: "";
  position: relative;
  height: 0.1rem;
  flex: 1;
  left: auto;
  right: auto;
  bottom: auto;
}

.game-token {
  white-space: nowrap;
  display: inline;
}

#top-player {
  justify-content: center;
}

.player-name {
  width: fit-content;
}

.token-image {
  width: 27px;
  height: 27px;
  // background-image: url("");
  background-size: contain;
  border: 1px solid rgb(245, 242, 197);
  margin: 1px;
  background-repeat: no-repeat;

  // resize: both;
  // overflow: auto;
}

.safe-cell {
  // position: relative;
}

// .safe-cell::after {
//   position: absolute;
//   border-top: 1px solid rgb(189, 9, 150);
//   width: 40px;
//   transform: rotate(45deg);
//   transform-origin: 0% 0%;
// }

.board-cell {
  width: 54px;
  height: 54px;
}

// sup {
//   position: absolute;
//   top: 0; /* top: 0; */
//   left: 0; /* left: 0; */
//   z-index: 10;
//   text-align: right;
// }
