<div class="start">
      <button id="btn-play-game">Play Game</button>
      <div id="div-combo-board-size"></div>
      <div id="div-combo-player-count"></div>
      <div id="div-start-game-button"></div>
      <div id="div-refresh-game-button"></div>
      <div id="div-playing-board">
        <div id="div-outer-game-board"></div>
      </div>

      <div id="div-play-group-buttons"></div>
      <div id="div-rolled-values">
        <ol id="rolled-dice"></ol>
      </div>
    </div>